.inventory-body{ 
      background-image: url('/assets/images/thankyou.jpg');
      min-height: 100%;
      width: 100%;
      margin: 0;
      background-size: 100% 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    
  }
 
.center {
      margin: 0;
      position: absolute;
      top: 55%;
      left: 45%;
      transform: translateX(-45%)
                 translateY(-55%);
  }
  
  h2 {
      font-family: cursive, sans-serif;
      font-weight: bold;
      font-style: oblique;
      font-variant: small-caps;
      font-size: 49px;
      color: blueviolet;
      background: none;
          border: none;
  }